.header {
  position:relative;
  bottom: 1.5rem;
}

.home:hover {
  text-decoration: none;
}

.hero {
  min-width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 .4rem .2rem rgba(0, 0, 0, 0.85);
}

h1 {
  /* color: black; */
  text-align: center;
  font-size: 3.5rem;
}

@media screen and (min-width: 768px) {
  h1 {
    width: auto;
    text-align: start;
  }
}