.theme-1 {
  background-color: rgb(37, 39, 39);
  color: white;
}

.theme-2 {
 background-color: rgba(0, 0, 0, 0.95);
  color: white;
}

/* .theme-3 {
  color: #D0D3DC; background-color: #3B2D32;
} */
