/*** TODO: Define styles ***/
:root {
  var
}
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  width: 100%;
  padding: ;
  background-color: black;
  color: white;
}

.header h1 {
  display: inline-block;
  padding-top: 25px;
  padding-left: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.header nav {
  padding-bottom: 15px;
  margin-right: 25px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: ;
  }
  
.header nav ul {
  list-style-type: none;
  flex-direction: row;
}
  
.header nav ul li {
  margin-left: 25px;
  display:inline-block;
  opacity: 75%;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* 
TODO: 
1. Decide alignment of h2 relative to content
2. Decide whether h2 is included in the flexbox for both .about and .work 
*/

h2 {
  font-size: 1.4rem;
}
.about {
  width: ;
  display: ;
}

p {
  font-size: ;
}

.work {
  width: ;
  display: ;  
}

.work h2 {
  display: inline-block;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

span {
  bottom: 0px;
}

/* figure out how to get text at the center or bottom of container*/
.first-project {
  width: 100%;
  height: 500px;
  border: white;
  text-align: center;
}

.project {
  width: 50%;
  height: 250px;
  border: white;
  text-align: center;
}

footer {
    width: 100%;
    bottom: 0;
    padding: ;
    background-color: black;
    color: white;
}

footer h2 {
    display: inline-block;
    font-size: ;
} 

footer div {
  padding-bottom: 15px;
  margin-right: 25px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: ;
  opacity: 75%;
}