/*** TODO: Define styles ***/

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  width: 100%;
  padding: ;
  color: ;
}

.header h1 {
  display: inline-block;
  font-size: ;
  color: ;
}

.header nav {
  padding-top: ;
  margin-right: 25px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: ;
  }
  
.header nav ul {
  list-style-type: none;
  flex-direction: row;
}
  
.header nav ul li {
  margin-left: 25px;
  display:inline-block;
}

/* 
TODO: 
1. Decide alignment of h2 relative to content
2. Decide whether h2 is included in the flexbox for both .about and .work 
*/
.about {
  width: ;
  display: ;
}

p {
  font-size: ;
}

.work {
  width: ;
  display: ;  
}

footer {
    width: 100%;
    bottom: 0;
    padding: ;
    background: ;
    color: ;
}

footer h2 {
    display: inline-block;
    font-size: ;
    color: ;
} 

footer ul {
  list-style-type: none;
}