* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

body {
  background-color: rgb(37, 39, 39);
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.header h1 {
  display: inline-block;
  padding-top: 1.4rem;
  padding-left: 1.4rem;
  font-size: 2.8rem;
  font-weight: 500;
}

.header img {
  display: inline-block;
  vertical-align: text-bottom;
  top: -1rem;
  margin-left: 1.4rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.header nav {
  padding-bottom: 1rem;
  margin-right: 1.4rem;
  display: flex;
  justify-content: flex-end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  
.header nav ul {
  list-style-type: none;
  flex-direction: row;
}
  
.header nav ul li {
  margin-left: 1.4rem;
  display:inline-block;
  opacity: 75%;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hero {
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 .4rem .2rem rgba(0, 0, 0, 0.85);
}

main {
  color: white ;
  margin: 0;
}

h2 {
  font-size: 2rem;
  text-decoration: underline; 
}

main h2 {
  text-shadow: .2rem .2rem rgba(0, 0, 0, 0.85); 
}

.about {
  padding-left: 1.4rem;
}

p {
  font-size: small;
}

.work {
   display:flex;
}

.work h2 {
  display: flex;
  justify-content: start;
  border-right-style: solid;
  border-right-color: white;
  padding-left: 1.4rem;
  width:24%;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  width: 70%;
  padding-right: 2rem;
  padding-top: 2rem;
}

.project:first-child {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.project:not(:first-child) {
  width: 50%;
  padding: 1rem;
  text-align: center;
}

.project figure img {
  opacity: 30%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.9);
  border-width: .4rem;
  box-shadow: .4rem .4rem .2rem rgba(0, 0, 0, 0.85);
}

.project figure img:hover {
  opacity: 100%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.9);
  border-width: .4rem;
  box-shadow: .4rem .4rem .2rem rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.project figure div {
  width: 50%;
  position: relative;
  bottom: 7rem;
  
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
}

footer {
    width: 100%;
    bottom: 0px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

footer h2 {
  padding: 1.4rem;
  
} 

footer ul {
  padding-bottom: 1.5rem;
  margin-right: 1.6rem;
  align-self: flex-end;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  opacity: 75%;
}

footer ul li:hover {
  cursor: pointer;
}

.contact .icon {
  padding: 0 .6rem;
}

@media screen and (max-width: 768px){
  .project:not(:first-child) {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
}